.container{
    margin-top: 50px;
    background-color:#a7b9c0;
    max-width: 600px;
    height: 550px;
}
h2{
    margin-top: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.login{
    cursor: pointer;
    color: red;
}
.login:hover{
    color: blue;
}
